body ul{
    margin-left: 0;
    padding-left: 0;
}
body ul li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.product-list{
    width: 80%;
    float: left;
}
.product-list ul li{
    width: 200px;
    height: 300px;
    margin: 5px;
    float: left;
}
.product-list .product_name{
    display: block;
    font-weight: bold;
}
.cart-list{
    width: 20%;
    float: right;
}
.cart-list table{
    width: 100%;
    overflow-wrap: break-word;
}
